.chip-view{
    display: inline-flex;
    background: #e6e6e6;
    vertical-align: middle;
    border-radius: 10px;                    
    border:1px solid rgba(0, 0, 0, 0);
    padding: 10px;
    min-height: 32px;
    margin: 16px 16px 0px 0px;
    transition: box-shadow 0.1s ease-in-out;
}
.chip-view:hover{
    box-shadow: 0px 8px 20px 1px gray;
}
.chip-view-normal{
    background-color: white !important;
    border-radius: 0% !important;
    border:1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.3);
}
.chip-view img{
    background:white;
    border-radius: 50%;
    margin-right:10px;
    width: 32px;
    height: 32px;
}
.chip-view-img-normal{
    border-radius: 0% !important;
    background-color: transparent !important;
}
.chip-view div{
    display: inline-block;
    color:black;
    padding: 0px 10px 0px 10px;
    font-size:20px;
    word-break:break-all;
    word-wrap:break-word;
}

.card{
    vertical-align: top;
    position: relative;
    display: inline-block;
    margin: 5px;
    background: white;
    border-radius: 10px;
    border: 1px solid rgba(230, 230, 230, 0.8);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.6);
    transition: all 0.1s ease-in-out;
    transition: box-shadow 0.1s ease-in-out;
    text-align: center;
}
.card:hover{
    box-shadow: 0px 8px 20px 1px gray;
}
.card-title{
    min-height: 50px;
    border-radius: 9px 9px 0px 0px;
    font-size:35px;
    padding: 16px;
    background-color: rgba(230, 230, 230, 1);
    color:black;
    font-weight: bold;
}
.card-heading{
    color:black;
    font-size: 23px;
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
    word-break:break-all;
    word-wrap:break-word;
    padding-bottom:10px;
    margin: 20px;
}
.card-subheading{
    color:gray;
    font-size: 23px;
    word-break:break-all;
    word-wrap:break-word;
    margin: 20px;
}
.card-view{
    margin: 20px;   
    font-size:17px;
    color:rgba(0, 0, 0, 0.7);
    padding-bottom:10px;
}
.card-view-tab{
    margin: 0px 20px 0px 40px;   
    font-size:17px;
    color:rgba(0, 0, 0, 0.7);
    padding-bottom:10px;
}
.card-bar{
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
    padding-bottom:10px;
    margin: 20px;
}
.card-hashtag{
    display: inline-block;
    margin: 5px 5px 8px 5px;
    background-color:rgba(255, 0, 0, 0.5);
    padding: 6px;
    border-radius: 20px;
    color:white;
}
.card-bottom{
    text-align: end;
    font-size:25px;
    padding: 10px 30px 10px 10px;
    min-height: 40px;
    background-color:rgba(230, 230, 230, 1);
    border-radius: 0px 0px 9px 9px;
    color: black;
}
.card img{
    margin:10%;
    width:80%;
    max-width: 100%; height: auto;
    display: block;
}
.card-image{
    max-width: 100%;
    width: auto;
    overflow: hidden;
}
.card-imageZoom{
    overflow: hidden;
}
.card-imageZoom img{
    transition: all ease .5s;
}
.card-imageZoom:hover img{
    transform-origin: center;
    transform: scale(1.4);
}

.clickable{
    cursor: pointer;
}

